/*-----------------------------*/
/*body background and font sitewide*/
body {
    background-color: black;
    font-family: 'EB Garamond', serif;
    font-size:18px; 
}
/*-----------------------------*/
/*site layout styles*/
header {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
    /* styling for horizontal navbar*/
.mynavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mynavbar li {
    float: left;
    font-size:20px;
}

.mynavbar li a {
    display: block;
    padding: 8px;
    
}

    /*styling for sidenavbar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .001s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------------------*/
/*styling for all tables*/
    /*striped rows for readibility*/
.table-striped>tbody>tr:nth-child(odd),
.table-striped>tbody>tr:nth-child(odd) {
    background-color: #fff6d0;
}

    /*change color for hover*/
.table-hover tbody tr:hover td {
    background-color: #ffeea1;
}
/*-----------------------------*/
/*css for card stats container and trade info containers */
.infocontainer {
    background:white;
}

/*-----------------------------*/
/*sitewide heading styles*/
h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 1em;
}



