import {apiUrl,imgsrc} from "../../../../globals.js";
<site-layout collection="aor">
<@title>
    Recent Trades
</@title>
<@content>
    <recent-trades-binder collection="aor" apiUrl=apiUrl imgsrc=imgsrc+"/aorimages"/>
</@content>
</site-layout>
