<site-layout collection="aor">
<@title>
    <strong>Recent Trades</strong>
</@title>
<@content>
    <recent-trades-binder collection="aor" imgsrc="http://sogdb.com/images/aorimages/"/>
</@content>
</site-layout>
