<table class="abilityTable table-border" style="width:85%">
<tr>
    <th id="specialAbilityText" style="color:darkgoldenrod">
       <strong>Rare Access Gold Series</strong>
    </th>
    <th>
        <strong>000-A</strong>
    </th>
</tr>
</table>
