import {apiUrl,imgsrc} from "../../../../globals.js";
<site-layout collection="sog">
<@title>
    Recent Trades
</@title>
<@content>
    <recent-trades-binder collection="sog" imgsrc=imgsrc+"/sogcards" apiUrl=apiUrl/>
</@content>
</site-layout>
