<site-layout collection="sog">
<@title>
    <strong>Recent Trades</strong>
</@title>
<@content>
    <recent-trades-binder collection="sog" imgsrc="http://sogdb.com/images/sogcards/"/>
</@content>
</site-layout>
