<div>
	<form>
		<!-- inputText -->
		<div class={ "form-group": true, "has-success": state.inputTextHasSuccess, "has-danger": state.inputTextHasDanger }>
			<label for="my-form-input">Text</label>
	</form>
</div>
