import {apiUrl,imgsrc} from "../../../../globals.js";
<site-layout collection="aor">
       <@content>
        <wallet-binder imgsrc=imgsrc+"/aorimages" apiUrl=apiUrl collection="aor"/>
    </@content>
</site-layout>
