import {apiUrl,imgsrc} from "../../../../globals.js";
<site-layout collection="aor">
    <@title>
        My Age of Rust Wallet
    </@title>
    <@content>
        <wallet-binder imgsrc=imgsrc+"/aorimages" apiUrl=apiUrl collection="aor"/>
    </@content>
</site-layout>
