<site-layout collection="sog">
    <@title>
        Spells of Genesis
    </@title>
    <@content>
        <card-binder collection="sog" imgsrc="http://sogdb.com/images/sogcards/"/>
    </@content>
</site-layout>
