<site-layout propertyName="sog">
    <@title>
        Spells of Genesis
    </@title>
    <@content>
        <div class="container" style="background:white;padding:15px">
            "Welcome to the Spells of Genesis Game!"
        </div>
    </@content>
</site-layout>
