import {apiUrl,imgsrc} from "../../globals.js";
<site-layout collection="aor">
    <@content>
        <card-binder collection="aor" apiUrl=apiUrl imgsrc=imgsrc+"/aorimages"/>
    </@content>
</site-layout>
