<site-layout propertyName="aor">
    <@title>
        Welcome to the Age of Rust!
    </@title>
    <@content>
        <div class="container" style="background:white;padding:15px">
            "Welcome to the Age of Rust Game!"
        </div>
    </@content>
</site-layout>
