import {formatDateMDYTime, formatTimeStamp} from '../../../util/helperfunctions';
<tr style="background:white;font-style:italic">
    <td align="center" colspan=5>
        Last updated: ${formatDateMDYTime(formatTimeStamp(input.timestamp))}
    </td>
</tr>

