<site-layout collection="aor">
    <@title>
        Age of Rust
    </@title>
    <@content>
            <!--<a href="/aor/cards/" class="btn btn-primary btn-lg active" data-spy="affix" data-offset-top="20" style="z-index:3" role="button">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back
            </a>-->
            <app collection="aor" card=input.params.assetId/>
    </@content>
</site-layout>
