//INPUT required: trades,orders

<div class="row infocontainer">
    <div class="col-xs-12 col-md-7">
        <div id="chart_div"></div>
    </div>
    <div class="col-xs-12 col-md-5">
        <recent-trades-table recentTrades=input.trades collection=input.collection/>
    </div>
    <div>
        <open-orders buyOrders=input.orders.BuyOrders sellOrders=input.orders.SellOrders/>
    </div>
</div>
