<span key="addressFormHeader">
    <strong>Enter an address below:</strong>
</span>
<input type="text" class="form-control" id="addressInput" style="width:96%" key="addressInput" on-input('onAddressInput') on-update('onAddressInput')/>
