import {apiUrl,imgsrc} from "../../../../globals.js";
<site-layout collection="sog">
    <@content>
        <wallet-binder collection="sog" imgsrc=imgsrc+"/sogcards" apiUrl=apiUrl/>
    </@content>
</site-layout>
