<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/static/hello-world$1.0.0/src/service-worker.js').then(function() { 
    console.log("Service Worker Registered"); 
  });
}
</script>
